.container {
  width: 100%;
  // taking flex 1 of parent
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    max-width: 400px;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow);
    border-radius: 12px;
    margin: 0.5rem;

    h4 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .link {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      align-self: center;

      // p
    }

    > button {
      margin-top: 1rem;
      width: 100%;
    }
  }
}
