.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  > .header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 6px;
    color: var(--color-primary);
    text-align: left;
    font-family: var(--font-1);
    border: 1px solid var(--color-border);
    transition: background-color 0.15s ease;

    > .chevron {
      transition: all 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background-color: var(--color-border);
    }
  }

  &.open {
    border-bottom: none;
  }
}

.content {
  width: 100%;
  overflow: hidden;
  transition: height 0.3s ease;

  > .content_inner {
    padding: 0.5rem 0;
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }
}
