.base {
  font-family: var(--font-1);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  text-wrap: nowrap;

  // put icon in a span
  // or can put text also
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-1);
    color: var(--color-primary);

    > svg {
      display: block;
      color: var(--color-primary);
    }
  }
}

.disabled {
  pointer-events: none !important;
  opacity: 0.6 !important;
  cursor: not-allowed;
}

.primary {
  background-color: var(--color-primary);
  color: white;

  &:hover {
    opacity: 0.9;
  }

  // no need of active state
}

.primary_sm {
  width: fit-content;
  background-color: var(--color-primary);
  color: white;
  border-radius: 8px;
  padding: 0.25rem 0.4rem;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.9;
  }

  // no need of active state
}

.bordered {
  background-color: transparent;
  border: 2px solid var(--color-border);
  color: var(--color-primary);

  &:hover {
    border-color: var(--color-primary);
  }

  &.active {
    border-color: var(--color-primary);
  }
}

.bordered_sm {
  width: fit-content;
  background-color: transparent;
  border: 2px solid var(--color-border);
  color: var(--color-primary);
  border-radius: 8px;
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;

  &:hover {
    background-color: var(--color-border);
  }

  &.active {
    border-color: var(--color-primary);
  }
}

// bottom dotted border
.border_b {
  padding: 0;
  border-bottom: 2px dotted var(--color-border);
  border-radius: 0;

  &:hover {
    border-color: var(--color-text);
  }

  &.active {
    border-color: var(--color-text);
  }
}

.icon {
  width: fit-content;
  justify-content: flex-start;
  padding: 0 0.5rem;
  gap: 0.5rem;
  min-height: 2rem;
  min-width: 2rem;
  // use 16 to 18 px of icon

  &:hover {
    background-color: var(--color-border);
  }

  &.active {
    background-color: var(--color-border);
  }
}

.icon_bordered {
  width: fit-content;
  padding: 0 0.5rem;
  gap: 0.5rem;
  min-height: 2rem;
  color: var(--color-primary);
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid var(--color-border);

  &:hover {
    border-color: var(--color-primary);
  }

  &.active {
    border-color: var(--color-primary);
  }
}
