.container {
  width: fit-content;
  position: relative;
  display: inline-block;

  .button {
    width: 100%;
    cursor: pointer;
    // add other styles from props
  }

  .menu_wrapper {
    // manage overflow in child wrappers
    overflow: hidden;
    position: fixed;
    min-width: fit-content;
    box-shadow: var(--shadow);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    z-index: 1000;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    // Note: This only applies visually for 'bottom' position. Consider removing or adjusting.
    // add other styles from props

    > button {
      width: 100%;
    }
  }
}
