.container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);

  .logo {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .action_btns {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (width <= $md) {
      > a, button {
        > p {
          display: none;
        }
      }
    }
  }
}
