/* Bubble menu */
.container {
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  overflow: hidden;

  > span {
    height: 3rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-primary);
    font-family: var(--font-1);
    font-size: 0.9rem;
    padding: 0.4rem 0.75rem;
    border-right: 3px dashed var(--color-border);

    > svg {
      color: var(--color-primary);
    }
  }

  > .wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
