.drag-handle {
  display: flex;
  align-items: center;
  border-radius: 6px;
  cursor: grab;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  // margin-top: -0.25rem;
  margin-left: -0.25rem;

  &:hover {
    background-color: var(--color-border);
  }
}

.drag-handle-button {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
