// Global styles for smaller components

.truncate-text {
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.vr-line{
  height: 100%;
  width: 2px;
  background-color: var(--color-border);
}