// Global styles for pages or bigger nested components

.page-container-col {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  .page-header {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
