// Fonts
// added via next/font

/*
Some Naming conventions for variables
1. use none - default (e.g. --color-text)
       l - light  (e.g. --color-text-l)
       m - mid
       d - dark
2. use 1, 2, 3 etc.. as variants of variables
(e.g. font-1)
*/

// CSS variables
:root {
  // colors
  --color-primary: #181818;

  --color-text: #1e1e1e;
  --color-text-l: #4a4a4a;

  --color-border: #eaeaea;
  --color-border-d: #b4b4b4;

  --color-blue: #14379e;

  --color-red: #b60808;
  --color-green: #0a730a;

  // shadows
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
